<% content_for :body_class, 'bg-light' %>

<section class="section announcement-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @announcement.title %></h1>

      <div class="feature-image">
        <%= image_tag(@announcement.image_url(:default)) %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
      <%= @announcement.description %>


      <h3 class="subtitle is-4 pt5">Product Specs</h3>

      <table class="table is-narrow">
        <% if @announcement.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @announcement.condition %></td>
        </tr>
        <% end %>

        <% if @announcement.category %>
          <tr>
            <td class="has-text-weight-bold">Category:</td>
            <td><%= @announcement.category %></td>
          </tr>
        <% end %>
      
      </table>
    </div>
    </div>
    <% if buyer_signed_in?%>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
      <%=link_to favorite_text, favorites_update_path(announcement: @announcement), id:'favorite_link', remote: true %>
        <p >Venduto da <%= @announcement.seller.username %></p>
        <button class="buy">
        <%= link_to "Acquista #{number_to_currency(@announcement.price)}", new_purchase_path(amount: @announcement.price, announcement: @announcement) ,class:"btn btn-default btn-expanded" %>
        </button>
      </div>
    </div>
     </div>


   <% else %>
  <div class="column is-3 is-offset-1">
  <div class="bg-white pa4 border-radius-3">
    <p >Venduto da <%= @announcement.seller.email %></p>
     <% if announcement_author(@announcement) %>
    <%= link_to 'Edit', edit_announcement_path(@announcement), class: 'button' %>
    <% end %>
  </div>
 
  </div>
  <% end%>

</section>
