
<% content_for :header do %>
  <div class="container">
    <h1 class="title">
      Preferiti
    </h1>
  </div>
<% end %>
<br>
<table class="table table-striped">
<thead class="thead-dark">
   <tr>
     <th colspan="1">Titolo</th>
     <th colspan="1">Descrizione</th>
     <th colspan="1">Categoria </th>
     <th colspan="1">Disponibilità</th>
     <th colspan="1">Prezzo</th>
     <th colspan="1"></th>
    </tr>
</thead>

<tbody>
  <% @favorites.each do |favorite| %>
    <tr>
      <td><%= favorite.announcement.title%></td>
      <td><%= favorite.announcement.description%></td>
      <td><%= favorite.announcement.category%></td>
      <% if favorite.announcement.sold? %>
      <td> "No" </td>
      <td><%= favorite.announcement.price%></td>
      <% else %>
      <td> "Si" </td>
      <td><%= favorite.announcement.price%></td>
      <td><%= link_to 'Mostra' , favorite.announcement %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
