
<% content_for :header do %>
  <div class="container">
    <h1 class="title">
      I miei acquisti
    </h1>
  </div>
<% end %>
<table class="table table-striped">
<thead class="thead-dark">
   <tr>
     <th colspan="2 ">Descrizione</th>
     <th colspan="1">Purchase id</th>
     <th colspan="1">Seller email</th>
     <th colspan="1">Seller username</th>
     <th colspan="1"></th>
    </tr>
</thead>

<tbody>
  <% @purchases.each do |purchase| %>
    <tr>
      <td><%= purchase.description %><th>
      <td><%= purchase.id%></th>
      <td><%= purchase.announcement.seller.email%></th>
      <td><%= purchase.announcement.seller.username%></th>
      <td><%= link_to 'Mostra', purchase.announcement%></td>
    </tr>
  <% end %>
</tbody>

