<% content_for :header do %>
    <div class="container">
      <h1 class="title">
        Announcements created by you
      </h1>
    </div>
<% end %>

<div class="announcement-index-grid pt4">
  <% @announcements.each do |announcement| %>

    <div class="announcement border-light">
      <div class="announcement-thumb">
       <%= link_to image_tag(announcement.image_url(:thumb)), announcement %>


      <% if announcement.condition? %>
        <div class="condition">
          <span class="tag is-dark"><%= announcement.condition %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to announcement.title, announcement %></h3>

      <p class="has-text-gray fg pt1">Sold by <%= announcement.seller.username %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(announcement.price) %></p>

      <% if announcement_author(announcement) %>
         <%= link_to 'Edit', edit_announcement_path(announcement), class: "button is-small" %>
         <%= link_to 'Delete', announcement, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>