<% content_for :header do %>
    <div class="container">
      <h1 class="title">
        I tuoi ordini
      </h1>
    </div>
<% end %>
<table class="table table-striped">
  <thead class="thead-dark">
     <tr>
       <th scope="col">Descrizione</th>
       <th colspan="3">Seller</th>
       <th colspan="3"></th>
      </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.description %><th>
        <td><%= order.seller %><th>
        <td><%= order.seller.id%></th>
        <td><%= order.transaction_id %></th>
        <br>
        <td><%= link_to 'Show' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>